@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(Network.IsProxy ? "" : "hidden")">
	<div class="title">@(Network.Owner.DisplayName)</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine( Network.Owner.DisplayName );
}
