RoundDisplay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Poppins";
	font-size: 24px;

	> .container {
		background-color: rgba(19, 19, 19, 0.50);
		position: absolute;
		border-radius: 8px;
		margin-top: 48px;
		margin-left: 48px;
		font-weight: bold;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 1% 2%;
		
		> .time {
			font-family: Poppins;
			text-align: center;
			font-size: 48px;
			color: #8dd7ff;
	
            &.runners {
                color: rgb(141, 215, 255);  // Red for Runners
            }

            &.smashers {
                color: #ff7070;  // Green for Smashers
            }

            &.default {
                color: rgb(141, 215, 255);  // Default color
            }
		}
	}
	> .container-status {
		display: flex;
		background-color: rgba(19, 19, 19, 0.50);
		position: absolute;
		border-radius: 8px;
		margin-top: 48px;
		margin-left: 300px;
		font-weight: bold;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 1% 2%;

		> .status {
			font-family: Poppins;
			text-align: center;
			font-size: 48px;
			color: rgb(141, 215, 255);

            &.runners {
                color: rgb(141, 215, 255);
            }

            &.smashers {
                color: #ff7070; 
            }

            &.default {
                color: rgb(141, 215, 255);
            }
		}
	}

	> .container-alive-runners {
        display: flex;
        background-color: rgba(19, 19, 19, 0.50);
        position: absolute;
        border-radius: 8px;
        top: 48px;
        right: 48px; 
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1% 2%;

        > .alive-runners {
            font-family: Poppins;
            text-align: center;
            font-size: 48px;
            color: rgb(110, 183, 126);


            &.runners {
                color: rgb(141, 215, 255);  // Red for Runners
            }

            &.smashers {
                color: #ff7070;  // Green for Smashers
            }

            &.default {
                color: rgb(141, 215, 255);  // Default color
            }
        }
    }

	> .container-win {
        display: flex;
        background-color: rgba(19, 19, 19, 0.50);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 2% 4%;

        > .win-message {
            font-family: Lilita One;
            text-align: center;
            font-size: 64px;
            color: rgb(255, 255, 141);
        }
    }
}
