@using System;
@using Sandbox;
@using Sandbox.UI;

@attribute [StyleSheet( "RoundDisplay.razor.scss" )]
@inherits Panel

@{
	var state = StateSystem.Active as ExtendedState;
	var activePlayers = 0;

	if ( state.IsValid() )
	{
		activePlayers = state.ActiveRunnerPlayers.Count + state.ActiveCannonPlayers.Count;
	}
	else
	{
		return;
	}

	if ( activePlayers == 0 ) return;
}

<root>
	<div class="container">
		<label class="time">@GetTimeLeftString()</label>
	</div>

	<div class="container-status">
		<label class="status">@GetRoundName()</label>
	</div>

	<div class="container-alive-runners">
		<label class="alive-runners">Runners Alive: @GetAliveRunnersCount()</label>
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		var state = StateSystem.Active as ExtendedState;

		return !state.IsValid() ? 0 : HashCode.Combine( GetTimeLeftString(), GetAliveRunnersCount() );
	}

	private string GetTimeLeftString()
	{
		var state = StateSystem.Active;
		if ( !state.IsValid() ) return string.Empty;

		var timeLeft = MathF.Max( state.TimeLeft, 0 );
		var t = TimeSpan.FromSeconds( timeLeft );
		return $"{t.Minutes}:{t.Seconds:D2}";
	}

	private string GetRoundName()
	{
		var state = StateSystem.Active;
		return !state.IsValid() ? string.Empty : state.Name;
	}

	private List<SmashRunnerMovement> FetchAliveRunnerPlayers()
	{
		var state = StateSystem.Active as ExtendedState;

		if ( state.IsValid() )
		{
			return state.ActiveRunnerPlayers;
		}

		return state.IsValid() ? state.ActiveRunnerPlayers : new List<SmashRunnerMovement>();
	}
	

	private int GetAliveRunnersCount()
	{
		return FetchAliveRunnerPlayers().Count;
	}
}
