@using System;
@using Sandbox;
@using Sandbox.UI;

@attribute [StyleSheet( "RoundEndDisplay.razor.scss" )]
@inherits Panel

@{
	var state = StateSystem.Active as EndState;

	if ( !state.IsValid() ) return;
}

<root>
	<div class="container-win">
		<label class="win-message">@WhoWon()</label>
		<div class="container">
			<label class="time">New game starting in: @GetTimeLeftString()</label>
		</div>
	</div>
</root>

@code
{
	
	protected override int BuildHash()
	{
		var state = StateSystem.Active as EndState;
		return !state.IsValid() ? 0 : HashCode.Combine( GetTimeLeftString(), WhoWon() );
	}

	private List<SmashRunnerMovement> FetchAliveRunnerPlayers()
	{
		return (StateSystem.Active as EndState)?.ActiveRunnerPlayers ?? new List<SmashRunnerMovement>();
	}

	private List<SmashRunnerMovement> FetchAliveCannonPlayers()
	{
		return (StateSystem.Active as EndState)?.ActiveCannonPlayers ?? new List<SmashRunnerMovement>();
	}

	private bool IsCannonWin()
	{
		var state = StateSystem.Active as EndState;
		if ( !state.IsValid() ) return false;
		var aliveRunners = FetchAliveRunnerPlayers().Count;

		return aliveRunners == 0;
	}

	private bool IsRunnersWin()
	{
		var state = StateSystem.Active as EndState;
		if ( !state.IsValid() ) return false;
		var aliveCannoniers = FetchAliveCannonPlayers().Count;

		return aliveCannoniers == 0;
	}
	
	private string GetTimeLeftString()
	{
		var state = StateSystem.Active;
		if ( !state.IsValid() ) return string.Empty;

		var timeLeft = MathF.Max( state.TimeLeft, 0 );
		var t = TimeSpan.FromSeconds( timeLeft );
		return $"{t.Minutes}:{t.Seconds:D2}";
	}

	private string WhoWon()
	{
		if ( IsCannonWin() )
		{
			return "Cannoniers win!";
		}

		if ( IsRunnersWin() )
		{
			return "Runners win!";
		}

		return "It's a draw!";
	}
}
