@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
        <div class="title">
            Smash Cannon
        </div>

	<div class="container">
		<div class="box left-box">
			<div class="button" onclick=@( () => LoadLobby() )>
				Create Lobby
			</div>

			<div class="button" onclick=@( () => Quit() )>
				Quit
			</div>
		</div>
		<div class="box right-box">
			<h2>Lobbies</h2>
			<p>TO DO: SET UP LOBBY LIST</p>
		</div>
	</div>
</root>

@code
{
	private void PlayScene()
	{
		Game.ActiveScene.LoadFromFile( "scenes/minimal.scene" );
	}
	
	private void SelectTeam(string team)
    {
        Log.Info($"Team selected: {team}");
        ConsoleSystem.Run("team_selected", team);
    }
	

	[Property, TextArea] public string MyStringValue { get; set; } = "";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
	
	private void LoadLobby()
	{
		Game.ActiveScene.LoadFromFile( "scenes/smashtowermap.scene" );
	}
	
	private void Quit()
	{
		Game.Close();
	}
}
